<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">

        <!-- custom css file link  -->
        <link rel="stylesheet" href="../../static/css/style.css">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>Simple E-commerce</title>
  <style media="screen">
    .jumbotron {
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }
  </style>
  <link rel="icon" type="image/x-icon" href="/static/images/logou.png">
</head>

<body style="background-color: #B3E5FC;">

  {% include "ecom/navbar.html" %}
  <br><br>
  <div class="jumbotron">
    <h1 class="display-4">Your message sent successfully !</h1>
    <p class="lead">We will respond to your feedback soon</p>
    <hr class="my-4">
    <p>Check other features of website !</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>

  {% include "ecom/footer.html" %}
</body>
</html>
