{% extends 'ecom/homebase.html' %}
{% load static %}
{% block content %}
    {% if redirect_to %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">

        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">
        <link rel="stylesheet" href="path/to/owl.carousel.min.css">
        <link rel="stylesheet" href="path/to/owl.theme.default.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



        <!-- Owl Carousel JavaScript -->
        <script src="path/to/owl.carousel.min.js"></script>

        <!-- custom css file link  -->
        <link rel="stylesheet" href="../../static/css/style.css?v=13">

        <link rel="icon" type="image/x-icon" href="/static/images/logou.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script>
            location.replace("{{redirect_to}}")
        </script>
    {% endif %}
    <style media="screen">
        body,
        html {
            height: 100%;
        }

        @media only screen and (max-width: 600px) {
            .row {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 -10px;
                padding: 5px;
            }

            html {
                width: 100vw;
                overflow-x: hidden;
            }
        }

        .d-flex {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .align-center {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        body {
            background-color: #f7f7f7;
        }

        .page-wrapper {
            height: 100%;
            display: table;
        }

        .page-wrapper .page-inner {
            display: table-cell;
            vertical-align: middle;
        }

        .el-wrapper {
            width: 360px;
            padding: 15px;
            margin: 15px auto;
            background-color: #fff;
            border-radius: 0px;
            box-shadow: 2px 2px 5px #9b9b9b;
        }


        .el-wrapper:hover .h-bg {
            left: 0px;
        }

        .el-wrapper:hover .price {
            top: 15px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            color: #f3f3f3;
        }

        .el-wrapper:hover .add-to-cart {
            left: 50%;
        }

        .el-wrapper:hover .img {
            webkit-filter: blur(7px);
            -o-filter: blur(7px);
            -ms-filter: blur(7px);
            filter: blur(7px);
            filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
            opacity: 0.4;
        }

        .el-wrapper:hover .info-inner {
            bottom: 155px;
        }

        .el-wrapper:hover .a-size {
            -webkit-transition-delay: 300ms;
            -o-transition-delay: 300ms;
            transition-delay: 300ms;
            bottom: 50px;
            opacity: 1;
        }

        .el-wrapper .box-down {
            width: 100%;
            height: 60px;
            position: relative;
            overflow: hidden;
        }

        .el-wrapper .box-up {
            width: 100%;
            height: 300px;
            position: relative;
            overflow: hidden;
            text-align: center;
        }

        .el-wrapper .img {
            padding: 20px 0;
            -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
            -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
            -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
            transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
            /* ease-out */
            -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            /* ease-out */
        }

        .h-bg {
            -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
            -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
            -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
            transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
            /* ease-out */
            -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            /* ease-out */
            width: 660px;
            height: 100%;
            background-color: #ff69b4;
            position: absolute;
            left: -659px;
        }

        .h-bg .h-bg-inner {
            width: 50%;
            height: 100%;
            background-color: #f2b8c0;
        }

        .info-inner {
            -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
            -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
            -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
            transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
            /* ease-out */
            -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            /* ease-out */
            position: absolute;
            width: 100%;
            bottom: 10px;
        }

        .info-inner .p-name,
        .info-inner .p-company {
            display: block;
        }

        .info-inner .p-name {
            font-family: 'PT Sans', sans-serif;
            font-size: 18px;
            color: #252525;
        }

        .info-inner .p-company {
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            /* text-transform: uppercase; */
            color: #fbfbfb;
        }

        .a-size {
            -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
            -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
            -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
            transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
            /* ease-out */
            -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            /* ease-out */
            position: absolute;
            width: 100%;
            bottom: -20px;
            font-family: 'PT Sans', sans-serif;
            color: #2b2b2b;
            font-weight: 600;
            opacity: 0;
        }

        .a-size .size {
            color: #252525;
        }

        .cart {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            /* font-family: 'Lato', sans-serif; */
            font-weight: 700;
        }

        .cart .price {
            -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
            -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
            -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
            transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
            /* ease-out */
            -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            /* ease-out */
            -webkit-transition-delay: 100ms;
            -o-transition-delay: 100ms;
            transition-delay: 100ms;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 16px;
            color: #252525;
        }

        .cart .add-to-cart {
            -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
            -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
            -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
            transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
            /* ease-out */
            -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            /* ease-out */
            -webkit-transition-delay: 100ms;
            -o-transition-delay: 100ms;
            transition-delay: 100ms;
            display: block;
            position: absolute;
            top: 50%;
            left: 110%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .cart .add-to-cart .txt {
            font-size: 12px;
            color: black;
            letter-spacing: 0.045em;
            text-transform: uppercase;
            white-space: nowrap;
        }

        * {
            box-sizing: border-box;
        }

        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 25%;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
            margin-bottom: 100px;
        }

        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
        }

        /* html, body {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          font-family: "Helvetica", sans-serif;
        } */

        img {
            max-width: 100%;
        }

        .slider-container {
            height: 65%;
            width: 100%;
            position: relative;
            overflow: hidden;
            text-align: center;
        }

        .menu {
            position: absolute;
            left: 0;
            z-index: 900;
            width: 100%;
            bottom: 0;
        }

        .menu label {
            cursor: pointer;
            display: inline-block;
            width: 16px;
            height: 16px;
            background: #fff;
            border-radius: 50px;
            margin: 0 .2em 1em;

        &
        :hover {
            background: red;
        }

        }

        .slide {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 10;
            padding: 8em 1em 0;
            background-size: cover;
            background-position: 50% 50%;
            transition: left 0s .75s;
        }

        [id^="slide"]:checked + .slide {
            left: 0;
            z-index: 100;
            transition: left .65s ease-out;
        }

        .slide-1 {
            background-image: url("{% static 'images/banner1.jpg' %}");
        }

        .slide-2 {
            background-image: url("{% static 'images/banner2.jpg' %}");
        }

        .slide-3 {
            background-image: url("{% static 'images/banner3.jpg' %}");
        }

        @media (max-width: 768px) {
            .product-container {
                width: 100%;
            }
        }

        .product-container {
            width: 450px;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 -20px;
            height: 45rem;
        }

        .column {
            width: 25%;
            padding: 0 20px;
            margin-bottom: 40px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            border-radius: 5px;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .card-image img {
            width: 100%;
            height: auto;
            border-radius: 5px 5px 0 0;
        }

        .card-info {
            padding: 20px;
        }

        .card-title {
            margin: 0 0 10px;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
        }

        .card-description {
            margin: 0 0 15px;
            font-size: 16px;
            text-align: justify;
        }

        .card-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .price {
            font-size: 18px;
            font-weight: 700;
        }

        .btn-add-to-cart {
            display: inline-block;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #ff6b6b;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
            transition: 0.3s;
        }

        .btn-add-to-cart:hover {
            background-color: #ff5252;
        }

        .section-title {
            margin-top: 50px;
            text-align: center;
            color: #3E454C;
            font-size: 32px;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            margin: 0 -10px;
        }

        .column {
            width: calc(25% - 20px);
            margin: 0 10px;
            margin-bottom: 30px;
        }

        .card {
            background-color: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }

        .card:hover {
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
            transform: translateY(-5px);
        }

        .card-image {
            position: relative;
        }

        .card-image img {
            display: block;
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .card-info {
            padding: 20px;
        }

        .card-title {
            margin: 0;
            margin-bottom: 10px;
            font-size: 24px;
            color: #3E454C;
        }

        .card-description {
            margin: 0;
            margin-bottom: 15px;
            font-size: 14px;
            color: #6F7377;
            line-height: 1.4;
        }

        .card-price {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .price {
            font-size: 24px;
            color: #3E454C;
        }

        .btn-add-to-cart {
            display: inline-block;
            padding: 8px 15px;
            border-radius: 5px;
            background-color: #3E454C;
        }


        @media only screen and (max-width: 600px) {
            /* Adjust font sizes for smaller screens */
            h3 {
                font-size: 24px;
            }

            .card-title {
                font-size: 18px;
            }

            .card-description {
                font-size: 14px;
            }

            .price {
                font-size: 18px;
            }

            .btn-add-to-cart {
                font-size: 16px;
            }

            /* Adjust card layout for smaller screens */
            .row {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .column {
                width: 100%;
                margin-bottom: 20px;
            }

            .card {
                width: 100%;
                max-width: 400px;
            }

            .card-image {
                height: 300px;
            }

            .card-info {
                padding: 20px;
            }
        }

        * {
            box-sizing: border-box;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
        }

        .column {
            flex: 1;
            padding: 0 15px;
            margin-bottom: 30px;
        }

        .card {
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow: hidden;
            background-color: #fff;
            transition: all 0.3s ease;
        }

        .card:hover {
            border-color: #3E454C;
        }

        .card-image {
            position: relative;
            height: 0;
            padding-top: 100%;
        }

        .card-image img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card-info {
            padding: 20px;
            text-align: center;
        }

        .card-title {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 1.2rem;
            color: #3E454C;
        }

        .card-description {
            margin-bottom: 10px;
            font-size: 0.9rem;
            color: #777;
            line-height: 1.4;
        }

        .card-price {
            font-size: 1.1rem;
            font-weight: bold;
            color: #3E454C;
        }

        .btn-add-to-cart {
            display: block;
            margin-top: 20px;
            padding: 10px;
            border-radius: 5px;
            background-color: #3E454C;
            color: #fff;
            text-decoration: none;
            transition: all 0.3s ease;
        }

        .btn-add-to-cart:hover {
            background-color: #fff;
            color: #3E454C;
            border-color: #3E454C;
            text-decoration: none;
        }

        @media (max-width: 767px) {
            .row {
                margin: 0;
            }

            .column {
                flex: 1 0 100%;
                padding: 0;
                margin-bottom: 20px;
            }
        }

        @media (min-width: 768px) {
            .row::before,
            .row::after {
                content: "";
                display: table;
            }

            .row::after {
                clear: both;
            }

            .column {
                float: left;
            }
        }

        .card-info {
            padding: 10px;
        }

        .card-title {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .card-description {
            font-size: 16px;
            margin-bottom: 15px;
        }

        .card-price {
            font-size: 16px;
        }

        .btn-add-to-cart {
            font-size: 14px;
            padding: 8px 15px;
        }

        }


        .d-flex {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .align-center {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        body {
            background-color: #f7f7f7;
        }

        .page-wrapper {
            height: 100%;
            display: table;
        }

        .page-wrapper .page-inner {
            display: table-cell;
            vertical-align: middle;
        }

        .el-wrapper {
            width: 360px;
            padding: 15px;
            margin: 15px auto;
            background-color: #fff;
            border-radius: 0px;
            box-shadow: 2px 2px 5px #9b9b9b;
        }

        .el-wrapper:hover .h-bg {
            left: 0px;
        }

        .el-wrapper:hover .price {
            top: 15px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            color: #f3f3f3;
        }

        .el-wrapper:hover .add-to-cart {
            left: 50%;
        }

        .el-wrapper:hover .img {
            webkit-filter: blur(7px);
            -o-filter: blur(7px);
            -ms-filter: blur(7px);
            filter: blur(7px);
            filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
            opacity: 0.4;
        }

        .el-wrapper:hover .info-inner {
            bottom: 155px;
        }

        .el-wrapper:hover .a-size {
            -webkit-transition-delay: 300ms;
            -o-transition-delay: 300ms;
            transition-delay: 300ms;
            bottom: 50px;
            opacity: 1;
        }

        .el-wrapper .box-down {
            width: 100%;
            height: 60px;
            position: relative;
            overflow: hidden;
        }

        .el-wrapper .box-up {
            width: 100%;
            height: 300px;
            position: relative;
            overflow: hidden;
            text-align: center;
        }

        @media only screen and (max-width: 600px) {

            .slider-wrapper {
                height: 100%;
            }

            .imagineshop {
                height: 50px;
            }


            .slider-container {
                height: 100%;
            }

            .slider {
                height: 45%;
            }

            .column {
                width: 100%;
                max-width: 300px;
                margin: 0 5px;
                margin-bottom: 15px;
            }
        }


        /* Desktop view */

        html {
            background-color: white;
        }

        body {
            background-color: white;
        }
    </style>
    <body>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <style>


        .product-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            margin-left: 6px;
            margin-right: 6px;
            background-color: #f4f4f4;
        }

        .product-image {
            width: 150px; /* Adjust the width as desired */
            height: 158px; /* Increase the height by 40% */
            object-fit: cover;
        }

        .product-name {
            margin-top: 15px; /* Increase the margin as desired */
            font-weight: 700; /* Set the font weight to 700 for slightly smaller */
            font-size: 18px; /* Adjust the font size as desired */
            font-family: 'League Spartan', sans-serif; /* Use the 'League Spartan' font */
        }

        .product-price {
            margin-top: 15px; /* Adjust the margin as desired */
            font-size: 14px; /* Adjust the font size as desired */
            font-weight: 600;
            margin-bottom: 5px;
        }

        .add-to-cart-button {
            margin-top: auto; /* Push the button to the bottom */
            width: 70%; /* Adjust the width as desired */
            padding: fpx 16px; /* Adjust the padding as desired */
            background-color: black; /* Set the background color as transparent */
            color: white;
            text-decoration: none;
            border: 2px solid #000; /* Add a slightly visible black border */
            font-size: 14px; /* Adjust the font size as desired */
            font-family: 'League Spartan', sans-serif; /* Use the 'League Spartan' font */
            transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition properties for animation */
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
        }

        .add-to-cart-button:hover {
            background-color: #000; /* Change the hover background color to black */
            color: #fff; /* Change the text color to white */
            transform: scale(1.05); /* Add a scale transform on hover for animation */
        }

        .cart-item {
            width: 150px; /* Same as product image width */
            height: 100%; /* Full height of product card */
            background-color: transparent; /* Set the background color for cart item */
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 3px;
        }


                @media only screen and (max-width: 768px){
            .product-card{
                width: 157px;
            }
        }

    </style>


    <div style="padding-bottom: 20px; padding-left: 15px; margin-left: auto; padding-right: 15px"> Shop our Featured Products: </div>
    <div class="owl-carousel owl-theme" id="product-carousel">
        {% for p in products %}
            <div class="product-card">
                <img class="product-image" src="{% static p.product_image.url %}" alt="product pic">
                <h3 class="product-name">{{ p.name }}</h3> <!-- Display the product name -->
                <span class="product-price">${{ p.price }}</span>
                <a class="add-to-cart-button" href="{% url 'add-to-cart' p.id %}">
                    Add to Cart
                </a>
                <div class="cart-item"></div>
            </div>
        {% endfor %}
    </div>


<script>
  const addToCartButtons = document.querySelectorAll('.add-to-cart-button');

  addToCartButtons.forEach((button) => {
    button.addEventListener('click', (event) => {
      event.preventDefault();
      const cartItem = button.nextElementSibling;
      button.innerHTML = '<i class="fas fa-shopping-cart" style="text-decoration: none"></i> <span style="text-decoration: none">+1</span>';
      button.style.backgroundColor = '#f4f4f4';
      button.style.color = '#000';
      button.style.textDecoration = 'none'; // Remove underline from button
      button.style.transform = 'translateX(10px)';
      setTimeout(() => {
        button.innerHTML = 'Add To Cart';
        button.style.backgroundColor = 'white';
        button.style.color = '#000';
        button.style.textDecoration = 'none'; // Remove underline from button
        button.style.transform = 'translateX(0)';
      }, 800);
    });
  });
</script>



    <script>
        $(document).ready(function () {
            $("#product-carousel").owlCarousel({
                items: 2, // Display 2 items at once
                loop: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                dots: false,
                responsive: {
                    0: {
                        items: 2.5,
                        margin: 25
                    },
                    480: {
                        items: 2
                    },
                    768: {
                        items: 3
                    },
                    1200: {
                        items: 4
                    }
                }
            });
        });
    </script>


    <!-- products data end -->
    <section id="shop" class="sfam">
   <p class="main-heading" style="color: black; -webkit-text-fill-color: black; letter-spacing: -3px; word-spacing: 0em; text-transform: none; font-size: 35px; line-height: 0.95em"> we make everything better</p>


    <style>
    </style>
    </section>
    {% if products %}
        <h3 class="section-title">{{ word }}</h3>
        <div class="card-container">
            {% for p in products %}
                <div class="card">
                    <div class="card-image">
                        <img src="{% static p.product_image.url %}" alt="product pic">
                    </div>
                    <div class="card-info">
                        <h3 class="card-title">{{ p.name }}</h3>
                        <p class="card-description">{{ p.description }}</p>
                        <div class="card-price">
                            <span class="price">${{ p.price }}</span>
                            {% if request.user.is_authenticated %}
                                <a class="btn-add-to-cart" href="{% url 'add-to-cart' p.id %}">
                            {% else %}
                                <a class="btn-add-to-cart" href="{% url 'add-to-cart' p.id %}">
                            {% endif %}
                            <i class="fa fa-shopping-cart"></i> Add to cart
                            </a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:"4" %}
                    <div class="break"></div>
                {% endif %}
            {% endfor %}
        </div>

        <style>
            .card-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;
                max-width: 1900px; /* make the container wider */
                margin: 0 auto; /* center the container */
                background-color: whitesmoke;
            }

            html {
                background-color: white;
            }

            .card {
                width: calc(25% - 20px);
                margin-bottom: 40px;
                max-width: 380px; /* make the card wider */
            }

            @media (max-width: 767px) {
                .card {
                    width: 100%;
                }
            }

            .break {
                flex-basis: 100%;
                height: 0;
            }

            .icons a {
                text-decoration: none;
            }

        </style>

    {% else %}
        <h3 class="section-title" style="text-align:center; color:#3E454C;">No Search Found</h3>
    {% endif %}

    </body>
    </html>



    </script>
    <br>
    <style>
        #ro:hover {
            background-color: pink;
            color: whitesmoke;

        }

        .link {
            text-decoration: none;
        }

        .btn-add-to-cart:hover {
            background-color: #ff5252;
            color: white;
            border-color: #3E454C;
        }

    </style>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var isNavbarActive = sessionStorage.getItem('navbarActive');

            if (!isNavbarActive) {
                setTimeout(() => {
                    var navbar = document.querySelector('.navbar');
                    navbar.classList.add('active');
                    sessionStorage.setItem('navbarActive', true);
                }, 1100); // Delay in milliseconds (1,5 second)
            }
        });

        document.querySelector('#menu-btn').onclick = () => {
            var navbar = document.querySelector('.navbar');
            navbar.classList.toggle('active');
        }

        document.querySelector('#close-navbar').onclick = () => {
            var navbar = document.querySelector('.navbar');
            navbar.classList.remove('active');
        }
    </script>
{% endblock content %}
