{% extends 'ecom/customer_base.html' %}
{% load static %}

{% block content %}
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">

        <!-- custom css file link  -->
        <link rel="stylesheet" href="../../static/css/style.css">

    <link rel="icon" type="image/x-icon" href="/static/images/logou.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/images/logou.png">

</head>
<style media="screen">

.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }
</style>
<br><br>
<center><i>Total: ${{total}} </i></center>
<br><br>
<div class="container" style="text-align:center; padding-left:300px;">
    <div class="row">
        <div class="col-xs-12 col-md-4" style="height:500px; width:600px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Payment Details
                    </h3>
                    <div class="checkbox pull-right">
                        <label>
                            <input type="checkbox" />
                            Remember
                        </label>
                    </div>
                    <select name="language" id="language">
                        <option value="ro">RO</option>
                        <option value="ru">RU</option>
                        <option value="eng">ENG</option>
                      </select>
                </div>
                <div class="panel-body">
                    <form role="form" method="post">
                    <div class="form-group">
                        <label for="cardNumber">
                            CARD NUMBER</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" placeholder="xxxx xxxx xxxx xxxx"
                                required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-md-4 pull-left">
                            <div class="form-group">
                                <label for="cvCode">
                                    MONTH</label>
                                
                                    <input type="text" class="form-control" id="expityMonth" placeholder="MM - 02" required />
                               
                            </div>
                        </div>

                        <div class="col-xs-4 col-md-4">
                            <div class="form-group">
                                <label for="expityMonth">
                                    EXPIRY DATE</label>
                               
                                
                               
                                    <input type="text" class="form-control" id="expityYear" placeholder="YY - 22" required /></div>
                            
                        </div>
                        <div class="col-xs-4 col-md-4 pull-right">
                            <div class="form-group">
                                <label for="cvCode">
                                    CV CODE</label>
                                <input type="password" class="form-control" id="cvCode" placeholder="CV - xxx" required />
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#" id="butonpay"><span class="badge pull-right">{{total}}$</span> Pay </a>
                </li>
                
            </ul>
            <br/>
        </div>
    </div>
</div>
<script>
	/*$(document).ready(function() {
	    $('#butonpay').click(function() {
	        var label1Value = $('#cardNumber').val();
	        var label2Value = $('#expityMonth').val();
	        var label3Value = $('#expityYear').val();
            var labelcvvval = $('#cvCode').val();
            var description1 = "testing";
            var lang = $('#language').val();

	        $.ajax({
	            url: 'ecommerce/php/paymentgate.php',
	            type: 'POST',
	            data: {
	                'cardNumber': label1Value,
	                'expityMonth': label2Value,
	                'expityYear': label3Value,
                    'cvCode': labelcvvval
	            },
	            success: function(response) {
	                console.log(response);
	            },
	            error: function(xhr, status, error) {
	                console.log(xhr.responseText);
	            }
	        });
	    });
	});
    */
	</script>

{% endblock content %}
